/*------- Root Variables -------*/
:root {
    --primary-color: #1c7293;
    --secondary-color: #13293D;
    --accent-color: #69ddff;
    --text-color: #fcdebe;
    --letter-spacing: 0.1rem;
    --letter-spacing-header: 0.3rem;
    --button-background-color: #38acdb;
    --text-font: sans-serif
}
/*------- End Root Variables -------*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--secondary-color);
}

header{
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 4rem 5%;
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0 0 15px var(--accent-color);
    overflow: hidden;
    transition: .5s;
    background-color: var(--secondary-color);
    z-index: 100;
}

.logo img{
    height: 8rem;
}

.content-top, .content-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.work-in-progress{
  height: 80vh;
  width: 100vw;
  color: var(--text-color);
  padding-top: 30vh;
  text-align: center;
}

/*------- Nav Bar Styling -------*/
.nav-icon-5{
    top: 5%;
    left: 30%;
    position: fixed;
    z-index: 100;
}

nav ul{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

nav ul li a, .offerings a, .button{
    display: block;
    color: var(--text-color);
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    border-radius: 0.1rem;
    border: 1px solid var(--primary-color);
    position: relative;
}

nav ul li a::after, .offerings a::after, .button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
nav ul li a:hover, .offerings a:hover, .button:hover{
    background: var(--button-background-color);
    box-shadow: 0 0 15px var(--accent-color);
}
nav ul li a:hover::after, .offerings a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
/*------- End Nav Bar Styling -------*/

/*------- Hero Section -------*/
.hero-section{
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 0 15px var(--accent-color);
  letter-spacing: var(--letter-spacing-header);
}
.hero-backgroun{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4) contrast(1.3) saturate(2);
}
.hero-content{
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  z-index: 5;
}

.hero-content h1, .work-in-progress{
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 0 0 15px var(--accent-color);
  position: relative;
  display: inline-block;
  margin-bottom: 1.3rem;
}

.hero-content h1::after, .our-offerings-content h3::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--accent-color), transparent);
}

.hero-content p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/*------- End Hero Section -------*/

/*------- Offerings Section Part 1 -------*/

.offerings{
  border: 1px solid var(--accent-color);
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 2rem;
  text-align: center;
}

.offerings-title{
  position: relative;
  width: 100%;
}

.offerings-title h2{
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--secondary-color);
  text-shadow: 0 0 10px var(--accent-color);
  padding: 1rem;
  border-radius: 20px;
}

.offerings img{
  width: 100%;
  height: 100%;
}

/*------- End Offerings Section Part 1-------*/
/*------- Offerings Section Part 2-------*/
.content-bottom{
  margin: 2rem 0;
  background-color: var(--primary-color);
  background-image: linear-gradient(#1c7cbb 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #1c7cbb calc(100% - 1.5px)), linear-gradient(90deg, #1c7cbb 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), #1c7cbb calc(100% - 1.5px));
  background-size: 5% 5%;
  border: 1.5px solid #1c7cbb;
  text-align: center;
}
.content-bottom h2, .set-meals h2, .beverages h2, .desserts h2, .contact-page-title h2{
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--text-color);
  text-shadow: 0 0 10px var(--accent-color);
  padding: 1rem 1rem 0;


}
.our-offerings{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.our-offerings h3, .beverages-content h3{
  text-shadow: 0 0 15px var(--accent-color);
  position: relative;
  display: inline-block;
  margin-bottom: 1.3rem;

}

.our-offerings-content{
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/*------- End Offerings Section Part 2-------*/

/*-------- Contact Page -------------*/

.contact-info-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    color: var(--text-color);
    font-family: var(--text-font);
    padding: 1rem;
}

.contact-info-data{
  width: 50%;
}
.contact-hours{
  border: 1px solid var(--secondary-color);
}

.contact-hero-section{
    background-color: var(--primary-color);
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contact-page-title{
    color: var(--text-color);
    font-family: var(--text-font);
}

.card, .daily-special, .set-meals{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    color: var(--text-color);
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.919);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.contact-visit-farm{
    background-color: var(--primary-color);
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: var(--text-color);
    font-family: var(--text-font);
}

.contact-visit-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}

.contact-qa-title{
    display: flex;
    justify-content: center;
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
    font-family: var(--text-font);
}

.section3-form{
	border-radius: 20px;
	width: 100%;
  height: 100%;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 1rem;
	margin-bottom: 1em;
}
.section3-form div{
	width: 100%;
	display: flex; 
	color: white;
	text-align: center;
	justify-content: space-between;
}
input{
    padding: .5rem;
    margin: .5rem;
    border-radius: 2rem;
    border: 1px solid white;
	width: 50%;
}

/*-------- End Contact Page -------------*/

/*------------ Mission Page -------------*/
.mission-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mission-hero-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    gap: 1rem;
    width: 50%;
}

.mission-hero-image{
    width: 50%;
    display: flex;
    justify-content: end;
}

.mission-hero-image img{
    width: 70%;
}

.mission-core-title{
    padding: 2rem;
    font-family: var(--text-font);
    font-size: 1rem;
}

.mission-core-values{
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mission-sustain-title{
    position: absolute;
    top: 128%;
    left: 20%;
}

.mission-community-title{
    position: absolute;
    top: 128%;
    left: 70%;
}

.mission-access-title{
    position: absolute;
    top: 235%;
    left: 47%;
}

.image-window{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.mission-sustain-image img, .mission-community-image img, .mission-story-image img{
    width: 100%;
}

.mission-access-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-access-image img{
    width: 80%;
}

.mission-access{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.mission-access-description{
 width: 80%;
}

.mission-story{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.mission-story-title{
    padding: 2rem;
    width: 50%;
}

.mission-story-image{
    width: 50%;
}

/*------------ End Mission Page -------------*/

/*-------- Menu Page -------------*/
.daily-special{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
}
.daily-special img{
  width: 5rem;
  height: 5rem;
}
.daily-special h3, .beverages-content h3{
  font-size: 2rem;
}
.daily-special-content, .set-meals-content{
  text-align: center;
  background-color: var(--secondary-color);
  padding: 1rem;
}

.set-meals{
  text-align: center;
}
#meals-order-first{
  order: 1;
}
#meals-order-last{
  order: 0;
}

.beverages, .desserts{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.beverages-content{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: var(--text-color);
}
.desserts-content{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.desserts-content .card{
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);

}
.desserts-content img{
  width: 50%;

}

/*-------- End Menu Page -------------*/

/*-------- Footer -------------*/
footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-top: 1px solid var(--accent-color);
  bottom: 0;
}
footer img{
  width: 5rem;
}
.copyright{
  color: var(--text-color);
}
/*-------- End Footer -------------*/

/*------- @media screen Section -------*/
/*------- Tablet Size Section -------*/
@media screen and (max-width: 768px) {
    .nav-icon-5{
        left: 20%;
        top: 5%;
        
        position: fixed;
        z-index: 100;
    }
    
    nav ul{
        gap: 0.3rem;
        padding-left: 0;
    }
    nav ul li a{
        padding: 0.1rem 0.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
}
/*------- End Tablet Size Section -------*/
/*------- Mobile Size Section -------*/
@media (max-width: 576px) {

    /*-------- Nav Bar -------------*/
    .nav-bar{
        display: none;
        position:static;
    }

    .nav-bar a{
        display: flex;
        justify-content: center;
    }

    nav ul li a{
        top: 30px;
        left: -120px;
        font-size: 1rem;
    }
    
    .nav-bar ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .is-active{
        display: flex;
        transition: 5s ease-in-out;
        transition-duration: 500ms
    }

    .nav-icon-5{
        top: 5%;
        left: 85%;
        z-index: 12;
        width: 3rem;
        height: 30px;
        position: fixed;
        z-index: 100;
    }
    
    .nav-icon-5 span{
        background-color:#fff;
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width:100%;
        height: 0.25rem;
        transition-duration: 500ms
    }
    .nav-icon-5 span:nth-child(1){
        top:0px;
        left: 0px;
    }
    .nav-icon-5 span:nth-child(2){
        top:13px;
        left: 0px;
        opacity:1;
    }
    .nav-icon-5 span:nth-child(3){
        bottom:0px;
        left: 0px;
    }
    /*-------- End Nav Bar -------------*/

}
/*------- End Mobile Size Section -------*/
/*------- End @media screen Section -------*/
